.header {
  position: absolute;
  padding-top: 20px;
  background-color: rgb(64, 62, 62);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
}

/* MENU */

.menu .menu__list {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  list-style-type: none;
  font-size: 20px;
  font-family: sans-serif;
}
.menu__item {
  color: white;
  text-decoration: none;
  // color: green;
  font-style: italic;
  cursor: pointer;
}
.footer {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 2px white;
  height: 8vh;

  &__container {
    display: flex;
    gap: 20px;
    padding: 5px;
  }
  &__icon {
    color: white;
    cursor: pointer;
    &:hover {
      transform: scale(140%);
    }
    @media (min-width: 700px) {
      font-size: 20px;
    }
  }
}
