@import "core/reset"; // Solo en App
@import "core/colors";
@import "core/variables.scss";

@media (max-width: 768px) {
  .col2 {
    display: grid;
    grid-template-columns: 1fr;
    & > * {
      width: 80%;
      margin-inline: auto;
    }
  }
}

main {
  min-height: 78vh;
}
